# This file specifies files that are not uploaded to Google Cloud

# Exclude the .git directory and .gitignore file
.git
.gitignore
dist

# Exclude Node.js dependencies managed by npm or yarn
node_modules/

# Additional exclusions for Node.js and TypeScript projects
.next/
/out/
/build
/coverage/
*.log
*.pem
.DS_Store
.pnp
.pnp.js
.yarn/
.env
*.tsbuildinfo

# Exclude Visual Studio Code settings and configurations
.vscode/

# Exclude test files and directories
tests/
**tests**/
**/*.test.*
**/*.spec.*

# Exclude secret configuration and credentials files
secret-config/
credentials.json

# dist folder
/dist
